body{
    background-color: #ffff00cc;
}
h1{
    color: aliceblue;
    text-align: center;
}
ul{
    background-color: rgb(12, 161, 12);
    margin-right: -7px;
    margin-left: -7px;
    margin-top: -20px;
    padding: 15px;
}
#dos{ 
    background-color: aqua;

}
li{
    background-color: gainsboro;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
#uno{
    color: black;
    text-align: left;
    display: inline-block;
    margin-left: 50px;
    padding: 10px;
}
#sesion{
    background-color: honeydew;
    border: 1px  honeydew solid;
    border-radius: 30px;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 5px 5px grey;
}
form{
    border: cornsilk solid 1px;
    background-color: whitesmoke;
    margin-top: 60px;
    margin-left: 250px;
    border-radius: 20px;
    margin-right: 250px;
    box-shadow: 5px 5px;
}
button{
    margin-left: 375px;
    border-radius: 3px;
}
#pos{
    color: black;
}
li{padding: 10px;
box-shadow: 1px 1px;}
img{
    display: inline;
    padding: 30px;
}
#parrafo{
    padding: 50px;
}
